{% extends "base.html" %}
{% block title %}{{ date | e }}{% endblock %}
{% block head %}
<script type="text/javascript" src="../../../../js/index.js"></script>
<link rel="stylesheet" type="text/css" href="{{ dots | e }}css/index.css" />
{% if prev %}
<link rel="prev" type="text/html" href="page{{ prev | e }}.html" title="{{ date | e }} page {{ prev | e }}"/>
{% endif %}
{% if next %}
<link rel="next" type="text/html" href="page{{ next | e }}.html" title="{{ date | e }} page {{ next | e }}"/>
{% endif %}
{% endblock %}
{% block content %}

<div id="photos-list">
{% for info in photos %}
<div class="photo-thumb">

<a href="{{ info._prefix | e }}/{{ info.photo.id | e }}/index.html"><img src="{{ info._prefix | e }}/{{ info.photo.id | e }}/{{ info.photo.id | e }}_{{ info.photo.secret | e }}_t.jpg" alt="{{ info.photo.title._content | e }}" title="{{ info.photo.title._content | e }}" /></a>

</div>
{% endfor %}

<div id="photos-nav">
{% if prev or next %}
<span class="photos-nav-previous">{% if prev %}<a id="previous-page" href="page{{ prev | e }}.html" title="go to page {{ prev | e }} or {{ pages | e}}">page {{ prev | e }}</a>{% else %}start where you are{% endif %}</span>

<span class="photos-nav-meta">this is page {{ page | e }} of {{ pages | e }}</span>

<span class="photos-nav-next">{% if next %}<a id="next-page" href="page{{ next | e }}.html">page {{ next | e }}</a>{% else %}that is all{% endif %}</span>
{% endif %}
</div>

</div>

{% endblock %}
